main {
  padding: 50px;
}

/******************************************************************************************/
.list-tasks {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-row: 1/4;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.471);
}

.list-tasks-title {
  font-family: Aboreto, sans-serif;
  font-size: 28px;
  border-bottom: 1px dotted black;
  color: #0a0708bb;
}

.titles-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #0a070878;
  margin-bottom: 20px;
}

.titles-container .time-title,
.titles-container .activity-title,
.titles-container .progress-title {
  font-family: Explora, sans-serif;
  font-size: 40px;
  color: black;
}

.icon-add-task {
  align-self: center;
  justify-self: flex-end;
  width: 70px;
  height: 70px;
  background-image: url(../svg/create.svg);
  background-color: rgba(255, 255, 255, 0.471);
  border-radius: 5px;
  cursor: pointer;
}

.icon-add-task:hover {
  width: 75px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.675);
  transition: 0.3s;
}

/******************************************************************************************/
.content-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* column-gap: 20px; */
  margin-bottom: 20px;
  border-bottom: 1px solid #0a0708d2;
  background-color: rgba(255, 255, 255, 0.471);
}

.content-container.active {
  background-color: rgba(61, 255, 119, 0.343);
  box-shadow: 0px 0px 10px rgba(61, 255, 119, 0.343);
  transition: 0.4s ease-in-out;
}

.content-container>* {
  font-family: Aboreto, sans-serif;
  font-size: 20px;
  color: #0a0708d2;
}

.content-container .task-duration,
.content-container .task-name {
  border-right: 1px solid black;
  padding: 10px;
}

.content-container .progress-bar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

/******************************************************************************************/
.modal-container {
  position: absolute;
  display: none;
  flex-direction: column;
  row-gap: 10px;
  width: 300px;
  height: max-content;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.943);
  transition: 0.3s ease-in-out;
}

.modal-title-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #0a0708d2;
}

.modal-title {
  align-self: start;
  font-family: Explora, sans-serif;
  font-size: 35px;
  color: #0a0708d2;
}

.task-name-wrapper,
.select-time-start-wrapper,
.duration-time-wrapper,
.select-time-end-wrapper {
  display: flex;
  height: max-content;
  column-gap: 5px;
}

.icon-task,
.icon-time,
.icon-time-end,
.icon-time-duration {
  width: 30px;
  height: 30px;
}

.icon-task {
  background-image: url(../svg/pencil.svg);
}

.icon-time {
  background-image: url(../svg/time.svg);
}

.icon-time-end {
  background-image: url(../svg/time_end.svg);
}

.icon-time-duration {
  background-image: url(../svg/timer.svg);
}

.task-name-title,
.select-time-start-title,
.duration-time-title,
.select-time-end-title {
  align-self: center;
  font-family: Aboreto, sans-serif;
  font-size: 20px;
  color: #0a0708d2;
}

.task-name-input,
.time-start-input {
  width: 70%;
  font-family: Explora, sans-serif;
  font-size: 20px;
  border: 1px solid #0a0708d2;
}

/**********************/
.time-start-container,
.time-end-container {
  position: relative;
  display: flex;
}

.time-start-input {
  width: 17%;
  cursor: pointer;
}

.icon-two-dots,
.icon-time-choose {
  align-self: center;
  width: 20px;
  height: 20px;
}

.icon-time-choose {
  background-image: url(../svg/time_choose.svg);
  cursor: pointer;
}

.icon-two-dots {
  background-image: url(../svg/two_dots.svg);
}

/**********************/
.hours-container,
.mins-container {
  display: none;
}

.hours-container.active,
.mins-container.active {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.843);
  width: 48px;
  height: 100px;
  overflow-x: hidden;
}

.hours-container {
  top: 28px;
  left: 0;
}

.mins-container {
  top: 28px;
  left: 67px;
}

.hour-start-item,
.min-start-item,
.hour-end-item,
.min-end-item {
  color: white;
  font-family: Aboreto, sans-serif;
  cursor: pointer;
}

.hour-start-item:hover,
.min-start-item:hover,
.hour-end-item:hover,
.min-end-item:hover {
  color: black;
  background-color: white;
  border-radius: 15%;
  transition: 0.3s;
}

/**********************/
.duration-container-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}

.duration-container {
  display: flex;
  justify-content: space-around;
  height: 40px;
  background-color: rgba(53, 53, 53, 0.553);
  border-radius: 10px;
}

.min-item {
  align-self: center;
  color: #0a0708af;
  cursor: pointer;
}

.min-item:hover {
  background-color: rgba(255, 255, 255, 0.675);
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.675);
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.min-item.active {
  background-color: rgba(255, 255, 255, 0.675);
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.675);
  border-radius: 3px;
}

.confirm-changes {
  align-self: center;
  width: 30%;
  font-family: Aboreto, sans-serif;
  background-color: transparent;
  border: 1px solid rgba(53, 53, 53, 0.553);
  border-radius: 10px;
  cursor: pointer;
}

.confirm-changes:hover {
  color: rgba(0, 0, 0, 0.708);
  box-shadow: 0px 1px 5px rgba(53, 53, 53, 0.553);
}

/******************************************************************************************/
.move-to-top {
  width: 20px;
  height: 20px;
}

.done {
  width: 28px;
  height: 28px;
  background-image: url(../svg/done.svg);
}

.done:hover {
  background-image: url(../svg/done-active.svg);
}

.done.active {
  background-image: url(../svg/done-active.svg);
  transition: 0.3s ease-in-out;
}

.move-to-top {
  background-image: url(../svg/top-priority.svg);
}

.return {
  display: none;
}

.start-now {
  width: 30px;
  height: 30px;
  background-image: url(../svg/start-now.svg);
  transition: 0.5s ease-in-out;
}

.timer-start-now {
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid black;
}

.done:hover:hover,
.move-to-top:hover,
.start-now:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.move-to-top:hover {
  background-image: url(../svg/top-priority-orange.svg);
}

.start-now:hover {
  background-image: url(../svg/start-now-pink.svg);
}

.start-now.active {
  transition: 0.5s ease-in-out;
  background-image: url(../svg/stop.svg);
}

.start-now.active:hover {
  transform: rotateZ(-0.1turn);
  transition: 0.3s ease-in-out;
}

.delete,
.delete-task {
  width: 27px;
  height: 27px;
  background-size: 27px 27px;
  background-image: url(../svg/delete.svg);
  cursor: pointer;
}

.delete:hover,
.delete-task:hover {
  background-image: url(../svg/delete-active.svg);
  transition: 0.4s ease-in-out;
}

/******************************************************************************************/
.time-content {
  display: flex;
  column-gap: 20px;
  align-items: start;
  height: fit-content;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.471);
}

.time-content>* {
  font-family: Aboreto, sans-serif;
  font-size: 28px;
  color: #0a0708bb;
}

.time-header {
  padding-right: 20px;
  border-right: 1px solid #0a0708bb;
}

.top-priorities {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.471);
  padding: 15px;
}

/*****************************/
.top-priorities .content-container {
  grid-template-columns: 3fr 1fr;
  margin-bottom: 10px;
  border-bottom: 1px solid #0a0708d2;
  border: 1px solid rgba(130, 159, 247, 0.624);
  box-shadow: 0px 1px 5px rgba(130, 159, 247, 0.624);
}

.top-priorities .content-container>* {
  font-size: 12px;
}

.top-priorities .content-container .task-duration,
.top-priorities .content-container .task-name {
  border-right: none;
  padding: 5px;
}

.top-priorities>.content-container .task-duration {
  grid-column: 1 / 3;
  justify-self: center;
  border-bottom: 0.5px solid black;
}

.top-priorities .return {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/return.svg);
}

.top-priorities .return:hover {
  cursor: pointer;
  background-image: url(../svg/return-blue.svg);
  transition: 0.3s ease-in-out;

}

.top-priorities .move-to-top,
.top-priorities .start-now {
  display: none;
}


/*****************************/
.priorities-header,
.goals-header {
  align-self: center;
  font-family: Aboreto, sans-serif;
  font-size: 28px;
  color: #0a0708bb;
  margin-bottom: 5px;
  border-bottom: 1px solid #0a070878;
}

.goals {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.471);
}

.goals-header {
  margin-bottom: 20px;
}

.icon-add-goals {
  align-self: center;
  width: 50px;
  height: 50px;
  background-image: url(../svg/add.svg);
  background-color: rgba(255, 255, 255, 0.471);
  border-radius: 5px;
  cursor: pointer;
}

.icon-add-goals:hover {
  background-color: rgba(255, 255, 255, 0.675);
  transition: 0.3s;
}

.error {
  position: absolute;
  top: 313px;
  width: 95%;
  font-family: Aboreto, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  border: 1px solid rgba(255, 0, 0, 0.357);
  background-color: white;
}

.error.active {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

/******************************************************************************************/
/******************************************************************************************/
@media screen and (max-width:768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .list-tasks-title,
  .time-content>*,
  .priorities-header,
  .goals-header {
    font-size: 20px;
  }

  .titles-container .time-title,
  .titles-container .activity-title,
  .titles-container .progress-title {
    font-size: 30px;
  }

  .content-container>* {
    font-size: 16px;
  }

  .list-tasks {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .time-content {
    grid-column: 1/3;
  }
}

@media screen and (max-width:555px) {
  main {
    padding: 30px;
    gap: 15px;
  }

  .list-tasks-title,
  .time-content>*,
  .priorities-header,
  .goals-header {
    font-size: 18px;
  }

  .titles-container .time-title,
  .titles-container .activity-title,
  .titles-container .progress-title {
    font-size: 24px;
  }

  .content-container>* {
    font-size: 12px;
  }
}

@media screen and (max-width:430px) {
  main {
    padding: 20px;
  }

  .titles-container,
  .content-container {
    margin-bottom: 10px;
  }

  .list-tasks-title,
  .time-content>*,
  .priorities-header,
  .goals-header {
    font-size: 16px;
  }

  .content-container>* {
    font-size: 10px;
  }

  .top-priorities,
  .goals {
    grid-column: 1/3;
  }

}